__pycache__/*
*.pytest_cache/
config.yaml
jessica-config.yaml
data/*
gcloud-key.json
*.DS_Store
.DS_Store
models/january-super-india-2
tile_data/*
models/feb-24/*
models/feb-20/*
models/feb-12/*
models/feb-25/lac/*
models/march-2/*
models/*
raw/*
*.qmd
*.pt
src/*.png
src/*.tif
*.zip
*.shx
notebooks/visualizations/*/*.png
notebooks/visualizations/*.gif
notebooks/*.npy
*.pem
project-monitoring/*/*
notebooks/development/data/*
notebooks/*-checkpoint.ipynb
*.pb
**/*.ipynb_checkpoints/
src/downloading/__pychache__/*
*-checkpoint.ipynb
data_diffs.csv
*.tif
*.vrt
*.pyc
*.npy
notebooks/*/*.csv
*.qml
*.csv
config.json
notebooks/analysis/statistics/*
*.mp4
*.xml
*.hkl
*.xlsx
notebooks/development/validation_subregion_v1p6.png
