__pycache__/*
*.pytest_cache/
config.yaml
data/*
gcloud-key.json
*.DS_Store
.DS_Store
models/january-super-india-2
tile_data/*
models/feb-24/*
models/feb-20/*
models/feb-12/*
models/feb-25/lac/*
models/march-2/*
models/*
raw/*
*.pem

notebooks/.ipynb_checkpoints/*
src/downloading/__pychache__/*

