# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
boto3==1.9.167
flake8
python-dotenv>=0.5.1
scipy==1.2.1
sentinelhub==3.4.0
scikit-image
tensorflow==1.15.5
keras==2.2.4
tqdm
pandas
hickle==4.0.1
geopandas
pycountry
reverse_geocoder
pycountry_convert
pytest
numpy
rasterio